# Airbnb Sydney

`imports`

In [7]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [6]:
%matplotlib inline

In [14]:
saved_style_state = matplotlib.rcParams.copy() #give us a style state to go back to

In [15]:
if os.path.isfile("listings.csv"):
    filepath = "listings.csv"
    print("loading from file")
else:
    filepath = "http://data.insideairbnb.com/australia/nsw/sydney/2021-04-10/visualisations/listings.csv"
    print("retrieve from the inside airbnb")

airbnb_data = pd.read_csv("listings.csv")
print("done")

loading from file
done

In [21]:
airbnb_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11156,An Oasis in the City,40855,Colleen,NaN,Sydney,-33.86767,151.22497,Private room,65,2,196,2020-03-13,1.42,1,364
1,12351,Sydney City & Harbour at the door,17061,Stuart,NaN,Sydney,-33.86490,151.19171,Private room,14315,2,526,2019-09-22,4.03,2,0
2,14250,Manly Harbour House,55948,Heidi,NaN,Manly,-33.80084,151.26378,Entire home/apt,470,5,2,2019-01-02,0.03,2,122
3,15253,Unique Designer Rooftop Apartment in City Loca...,59850,Morag,NaN,Sydney,-33.87964,151.21680,Private room,80,2,367,2021-03-07,3.30,1,336
4,44545,Sunny Darlinghurst Warehouse Apartment,112237,Atari,NaN,Sydney,-33.87888,151.21439,Entire home/apt,130,3,76,2020-01-03,0.60,1,0

In [27]:
airbnb_data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [28]:
row_one = airbnb_data.iloc[0]
row_one

id                                               11156
name                              An Oasis in the City
host_id                                          40855
host_name                                      Colleen
neighbourhood_group                                NaN
neighbourhood                                   Sydney
latitude                                     -33.86767
longitude                                    151.22497
room_type                                 Private room
price                                               65
minimum_nights                                       2
number_of_reviews                                  196
last_review                                 2020-03-13
reviews_per_month                                 1.42
calculated_host_listings_count                       1
availability_365                                   364
Name: 0, dtype: object

In [29]:
row_one["host_name"]

'Colleen'

In [30]:
row_one.host_name

'Colleen'

In [ ]:
income = penalty_data[["OFFENCE_MONTH","FACE_VALUE"]].groupby("OFFENCE_MONTH").sum()

plt.xkcd()
plt.plot(income, "x-")
plt.title("Monthly income from fines", fontsize=18)
plt.xlabel('Date', fontsize=26)
plt.ylabel('$ Value', fontsize=26)
plt.grid(True)
plt.show()